#title>div{
	height:600px;
	background: url(../art/title.png);
}

.titleBody{
	width:1024px;
	margin:0 auto;
}

#titleName{
	color:#fff;
	font-size: 64px;
	float: right;
	margin-top: 400px;
	text-shadow: #888 2px 2px;
	font-weight: 500;
}

footer{
	background: #fff;
}

footer a{
	color:#000;
}

#footerBody{
	width:1024px;
	padding:20px;
	margin: 0 auto;
	text-align: center;
}

#footerBody div{
	padding: 3px;
	font-size: 10px;
	font-weight: 300;
}