header li html, body, header, ul{
	margin:0;padding:0;
	
}

html{
	background: #ccc;
	font-family: 'Roboto', sans-serif;
}

body{
	min-width: 1024px;
}

a{
  text-decoration:none;
	color:#fff;
}

header{
	background: #555;
}

header ul{
	width:1024px;
	margin:0 auto;
}

header li{
	display: inline-block;
	font-weight: 500;
	position:relative;
	transition: background ease 0.25s;
}

header li:hover{
	background:#333;
}

header>ul>span{
	float: right;
}

header li a{
	display: inline-block;
	padding:15px 20px;
}

header li a:after{
	width:100%;
	display: inline-block;
	height:5px;;
	position: absolute;
	bottom:0px;
	left:0;
	content: "";
	transition: background ease 0.25s;

}

header li a:hover:after{
	background: #2196f3;
}